<style>
     .certificado {
        background: var(--fundo-branco);
        aspect-ratio: 1 / 1;
        border-radius: 0 0 20px 20px;
        cursor: pointer;
    }

    .certificado div {
        display: grid;
        height: 100%;    
        width: 100%;
        grid-template-areas: 
            "img"
            "nome";
        overflow: hidden;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        text-decoration: none;
    }

    .certificado div img {
        height: 102%;
        width: 100%;
    }

    .certificado div p {
        display: flex;
        color: var(--cor-fonte-preta);
        font-family: var(--fonte-titulo-componentes);
        font-weight: 600;
        font-size: 1.2em;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0 1.5em;
    }

    .certificado:hover {
        animation-name: balancar;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }

    @keyframes balancar {
        0% {
           transform: scale(1);
        }
        100% {
            transform: scale(1.15);
        }
    }
</style>

<li class="certificado">
    <div (click)="abrirDialog()">
        <img src="{{caminho_imagem}}" alt="{{alt_imagem}}">
        <p>{{titulo}}</p>
    </div>

   <dialog #dialog>
        <img src="{{caminho_imagem}}" alt="{{alt_imagem}}">
        <p>{{titulo}}</p>
        <button id="cancel" type="reset" (click)="fecharDialog()">Cancel</button>
    </dialog>



</li>