<li class="certificado">
    <a href="{{ link }}" target="_blank">
        <div class="conteudo_certificado">
            <app-botao-padrao
                tipo_botao="botao_categoria"
                *ngIf="categoria"
                [categoria_certificado]="getClasseCategoria(categoria)"
            >
            </app-botao-padrao>

            <div class="info_certificado">
                <p class="titulo_ceritificado teste">{{ titulo }}</p>
                <hr />
                <div class="detalhes_certificado">
                    <div>
                        <img
                            src="/assets/imagens/icons/icon_estudo.png"
                            alt="Logo Alura"
                        />
                        <p>{{ escola }}</p>
                    </div>
                    <div>
                        <img
                            src="/assets/imagens/icons/icon_calendario.png"
                            alt="Calendário"
                        />
                        <p>{{ dataRealizacao }}</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</li>
