<style>
     .certificado {
        background: var(--fundo-preto);
        cursor: pointer;
        border: 1px solid var(--fundo-branco);
        border-radius: 16px;
        width: 300px;
        height: 250px;
    }

    .certificado a {
        text-decoration: none;
    }

    .conteudo_certificado {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        gap: 1em;
    } 
    
    .info_certificado {
        color: white;
        display: grid;
        grid-template-rows: 2.5fr 1fr;
        grid-template-columns: 1fr;
        justify-content: space-between;
        align-items: center;
        width: 100%;        
    }

    .titulo_ceritificado {
        font-size: 20px;
        font-weight: 600;
        width: 100% !important;
    }


    .detalhes_certificado {
        display: flex;
        justify-content: space-between;
    }

    .detalhes_certificado div {
        display: flex;
        gap: 0.5em;
    }

    .certificado:hover {
        animation-name: balancar;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }

    @keyframes balancar {
        0% {
           transform: scale(1);
        }
        100% {
            transform: scale(1.15);
        }
    }

 
</style>

<li class="certificado">
    <a href="{{link}}" target="_blank">
        <div class="conteudo_certificado">
            <button>front-end</button>

            <div class="info_certificado">
                <p class="titulo_ceritificado">{{titulo}}</p>
                <hr>
                <div class="detalhes_certificado">
                    <div>
                        <img src="" alt="">
                        <p>Alura</p>
                    </div>
                    <div>
                        <img src="" alt="">
                        <p>02/2026</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</li>