<style> 
    .section_texto-sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        background: var(--fundo-preto);
        padding: 25vh 0 0;
    }

    .section_texto-sobre h1 {
        margin: 0 0 3em;
        font-size: xx-large;
        font-weight: 700;
        color: var(--cor-fonte-branca);
    }

    .container__texto-sobre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        width: 75%;
        padding: 4em 5em;
        gap: 2em;
        border-radius: 26px;
        background: var(--fundo-branco);
        box-shadow: 0 0 20px var(--fundo-branco);
    }

    .container__texto-sobre p {
        font-size: x-large;
        color: var(--cor-fonte-preta);
    }

</style>

<section class="section_texto-sobre">
    <h1 >QUEM SOU EU?</h1>
    <div class="container__texto-sobre">
        <p >
            Jovem talento de 22 anos, formado em análise e desenvolvimento de sistemas, com mais de três anos de experiência 
            profissional na área de tecnologia. Desenvolvedor de software com uma sólida base, atualmente ocupa o cargo de 
            analista de infraestrutura na Localiza, pela DXC. Um profissional dinâmico e apaixonado, com comprovada capacidade 
            de resolver problemas complexos e um forte desejo de aprender e crescer no mundo da tecnologia. Sua experiência 
            abrange desde o desenvolvimento de software até a gestão de infraestruturas, oferecendo uma perspectiva completa 
            e versátil. Com uma sólida base teórica e vasta experiência prática, é capaz de enfrentar desafios complexos e 
            contribuir significativamente para o sucesso de qualquer projeto.
        </p>
        <p>
            Jovem talento de 22 anos, formado em análise e desenvolvimento de sistemas, com mais de três anos de experiência 
            profissional na área de tecnologia. Desenvolvedor de software com uma sólida base, atualmente ocupa o cargo de 
            analista de infraestrutura na Localiza, pela DXC. Um profissional dinâmico e apaixonado, com comprovada capacidade 
            de resolver problemas complexos e um forte desejo de aprender e crescer no mundo da tecnologia. Sua experiência 
            abrange desde o desenvolvimento de software até a gestão de infraestruturas, oferecendo uma perspectiva completa 
            e versátil. Com uma sólida base teórica e vasta experiência prática, é capaz de enfrentar desafios complexos e 
            contribuir significativamente para o sucesso de qualquer projeto.
        </p>
        <p>
            Jovem talento de 22 anos, formado em análise e desenvolvimento de sistemas, com mais de três anos de experiência 
            profissional na área de tecnologia. Desenvolvedor de software com uma sólida base, atualmente ocupa o cargo de 
            analista de infraestrutura na Localiza, pela DXC. Um profissional dinâmico e apaixonado, com comprovada capacidade 
            de resolver problemas complexos e um forte desejo de aprender e crescer no mundo da tecnologia. Sua experiência 
            abrange desde o desenvolvimento de software até a gestão de infraestruturas, oferecendo uma perspectiva completa 
            e versátil. Com uma sólida base teórica e vasta experiência prática, é capaz de enfrentar desafios complexos e 
            contribuir significativamente para o sucesso de qualquer projeto.
        </p>
        <p>
            Jovem talento de 22 anos, formado em análise e desenvolvimento de sistemas, com mais de três anos de experiência 
            profissional na área de tecnologia. Desenvolvedor de software com uma sólida base, atualmente ocupa o cargo de 
            analista de infraestrutura na Localiza, pela DXC. Um profissional dinâmico e apaixonado, com comprovada capacidade 
            de resolver problemas complexos e um forte desejo de aprender e crescer no mundo da tecnologia. Sua experiência 
            abrange desde o desenvolvimento de software até a gestão de infraestruturas, oferecendo uma perspectiva completa 
            e versátil. Com uma sólida base teórica e vasta experiência prática, é capaz de enfrentar desafios complexos e 
            contribuir significativamente para o sucesso de qualquer projeto.
        </p>
        <p>
            Jovem talento de 22 anos, formado em análise e desenvolvimento de sistemas, com mais de três anos de experiência 
            profissional na área de tecnologia. Desenvolvedor de software com uma sólida base, atualmente ocupa o cargo de 
            analista de infraestrutura na Localiza, pela DXC. Um profissional dinâmico e apaixonado, com comprovada capacidade 
            de resolver problemas complexos e um forte desejo de aprender e crescer no mundo da tecnologia. Sua experiência 
            abrange desde o desenvolvimento de software até a gestão de infraestruturas, oferecendo uma perspectiva completa 
            e versátil. Com uma sólida base teórica e vasta experiência prática, é capaz de enfrentar desafios complexos e 
            contribuir significativamente para o sucesso de qualquer projeto.
        </p>

    </div>
</section>
