<section class="d-flex flex-column justify-content-center align-items-center text-justify" style="background: var(--fundo-preto);">
    <h1 class="mb-5 fs-1 fw-semibold" style="color: var(--cor-fonte-branca);">QUEM SOU EU?</h1>
    <div class="d-flex flex-column justify-content-center align-items-center text-justify w-75 py-4 px-5 gap-5 rounded" style="background: var(--fundo-branco); box-shadow: 0 0 20px var(--fundo-branco);">
        <p class="fs-3" style="color: var(--cor-fonte-preta);">
            Jovem talento de 22 anos, formado em análise e desenvolvimento de sistemas, com mais de três anos de experiência 
            profissional na área de tecnologia. Desenvolvedor de software com uma sólida base, atualmente ocupa o cargo de 
            analista de infraestrutura na Localiza, pela DXC. Um profissional dinâmico e apaixonado, com comprovada capacidade 
            de resolver problemas complexos e um forte desejo de aprender e crescer no mundo da tecnologia. Sua experiência 
            abrange desde o desenvolvimento de software até a gestão de infraestruturas, oferecendo uma perspectiva completa 
            e versátil. Com uma sólida base teórica e vasta experiência prática, é capaz de enfrentar desafios complexos e 
            contribuir significativamente para o sucesso de qualquer projeto.
        </p>
        <p class="fs-3" style="color: var(--cor-fonte-preta);">
            Jovem talento de 22 anos, formado em análise e desenvolvimento de sistemas, com mais de três anos de experiência 
            profissional na área de tecnologia. Desenvolvedor de software com uma sólida base, atualmente ocupa o cargo de 
            analista de infraestrutura na Localiza, pela DXC. Um profissional dinâmico e apaixonado, com comprovada capacidade 
            de resolver problemas complexos e um forte desejo de aprender e crescer no mundo da tecnologia. Sua experiência 
            abrange desde o desenvolvimento de software até a gestão de infraestruturas, oferecendo uma perspectiva completa 
            e versátil. Com uma sólida base teórica e vasta experiência prática, é capaz de enfrentar desafios complexos e 
            contribuir significativamente para o sucesso de qualquer projeto.
        </p>
        <p class="fs-3" style="color: var(--cor-fonte-preta);">
            Jovem talento de 22 anos, formado em análise e desenvolvimento de sistemas, com mais de três anos de experiência 
            profissional na área de tecnologia. Desenvolvedor de software com uma sólida base, atualmente ocupa o cargo de 
            analista de infraestrutura na Localiza, pela DXC. Um profissional dinâmico e apaixonado, com comprovada capacidade 
            de resolver problemas complexos e um forte desejo de aprender e crescer no mundo da tecnologia. Sua experiência 
            abrange desde o desenvolvimento de software até a gestão de infraestruturas, oferecendo uma perspectiva completa 
            e versátil. Com uma sólida base teórica e vasta experiência prática, é capaz de enfrentar desafios complexos e 
            contribuir significativamente para o sucesso de qualquer projeto.
        </p>
        <p class="fs-3" style="color: var(--cor-fonte-preta);">
            Jovem talento de 22 anos, formado em análise e desenvolvimento de sistemas, com mais de três anos de experiência 
            profissional na área de tecnologia. Desenvolvedor de software com uma sólida base, atualmente ocupa o cargo de 
            analista de infraestrutura na Localiza, pela DXC. Um profissional dinâmico e apaixonado, com comprovada capacidade 
            de resolver problemas complexos e um forte desejo de aprender e crescer no mundo da tecnologia. Sua experiência 
            abrange desde o desenvolvimento de software até a gestão de infraestruturas, oferecendo uma perspectiva completa 
            e versátil. Com uma sólida base teórica e vasta experiência prática, é capaz de enfrentar desafios complexos e 
            contribuir significativamente para o sucesso de qualquer projeto.
        </p>
        <p class="fs-3" style="color: var(--cor-fonte-preta);">
            Jovem talento de 22 anos, formado em análise e desenvolvimento de sistemas, com mais de três anos de experiência 
            profissional na área de tecnologia. Desenvolvedor de software com uma sólida base, atualmente ocupa o cargo de 
            analista de infraestrutura na Localiza, pela DXC. Um profissional dinâmico e apaixonado, com comprovada capacidade 
            de resolver problemas complexos e um forte desejo de aprender e crescer no mundo da tecnologia. Sua experiência 
            abrange desde o desenvolvimento de software até a gestão de infraestruturas, oferecendo uma perspectiva completa 
            e versátil. Com uma sólida base teórica e vasta experiência prática, é capaz de enfrentar desafios complexos e 
            contribuir significativamente para o sucesso de qualquer projeto.
        </p>

    </div>
</section>
