<section class="section_apresentacao-video">
    <iframe
        #video
        class="video"
        [class.visivel]="visivel"
        src="https://www.youtube.com/embed/VzwUoUlz2D4?si=BjOzEHc2CBZWcraY"
        title="YouTube Duca video sobre"
        frameborder="4"
        allow="
            accelerometer;
            autoplay;
            clipboard-write;
            encrypted-media;
            gyroscope;
            picture-in-picture;
            web-share;
        "
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
    ></iframe>
</section>
