<style>
    .video {
        scale: 0;
    }

    .section_apresentacao-video {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: var(--fundo-preto);
        padding: 10vh 0;
    }

    .section_apresentacao-video iframe {
        width: 55vw;
        height: 65vh;
        border: 2px solid var(--fundo-branco);
        border-radius: 2em;
    }

    .video.visivel {
        animation-duration: 3s;
        animation-name: videoAparecendo;
        scale: 1;
    }

    @keyframes videoAparecendo {
        from {
            scale: 0;
        }
        to {
            scale: 1;
        }
    }

    @media screen and (max-width: 768px) {

        .section_apresentacao-video {
            height: 80vh;
        }

        .section_apresentacao-video iframe {
            width: 85%;
            height: 35vh;
        }
    }
    
</style>


<section class="section_apresentacao-video">
    <iframe
        #video
        class="video" 
        [class.visivel]="visivel"
        src="https://www.youtube.com/embed/WvUf8PfISxw?si=dywSUZ1cOnAvB-tL" 
        title="YouTube Duca video sobre" 
        frameborder="4" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen
    ></iframe>
</section>