<section class="sobre-home w-100 d-flex align-items-center gap-5" style="height: 100vh; background: var(--fundo-preto); padding: 100px 0px 0 300px;">
    
    <div class="d-flex flex-column gap-5 w-50">
        <h2 class="fs-1 pb-5" style="color: var(--cor-fonte-branca)">
            Sim! esse texto foi feito por IA.
        </h2>
        <p class="fs-4 mt-5" style="color: var(--cor-fonte-branca)">
            Jovem talento de 22 anos, formado em análise e desenvolvimento de sistemas, com mais de três anos de experiência profissional na área de tecnologia.
            Desenvolvedor de software com uma sólida base, atualmente ocupa o cargo de analista de infraestrutura na Localiza, pela DXC.
            Um profissional dinâmico e apaixonado, com comprovada capacidade de resolver problemas complexos e um forte desejo de aprender e crescer no mundo da tecnologia.
            Sua experiência abrange desde o desenvolvimento de software até a gestão de infraestruturas, oferecendo uma perspectiva completa e versátil.
            Com uma sólida base teórica e vasta experiência prática, é capaz de enfrentar desafios complexos e contribuir significativamente para o sucesso de qualquer projeto.
        </p>
        <app-botao-padrao texto_botao="Contate-me"></app-botao-padrao>
    </div>

    <div class="w-50 h-100">
        <img src="../../../assets/imagens/Leo_IA.png" alt="Imagem IA" 
            class="w-100 h-100 object-fit-cover">
    </div>

</section>
