<style>
    .sobre-home {
        height: 100vh;
        background-color: #000;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px;
    }

    .temporario {
        font-size: 4em;
        color: red;
        top: 100px;
        position: absolute;
    }

    .sobre-home__textos {
        width: 60%;
        height: 100vh;
    }

    .textos_sobre_home p {
        font-family: monospace;
        white-space: normal; /* <- Isso permite quebra automática de linha */
        word-wrap: break-word;
        font-size: 1.1rem;
        line-height: 1.5;
        position: relative;
        top: 4em;
        height: 45vh;
    }

    .botao_contato {
        position: relative;
        width: 100%;
        text-align: center;
    }

    .botao_contato button {
        width: 80% !important;
    }
@media screen and (max-width: 1400px) {
    .sobre-home {
        padding-left: 2% !important;
    }
}

@media screen and (max-width:1030px) {
    .sobre-home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 !important;
    }

    .botao_contato {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    

    .sobre-home__textos {
        width: 100vw !important;
        text-align: center;
        align-items: center !important;
    }
    .sobre-home__textos h2 {
        padding: 0 !important;
    }

    .textos_sobre_home {
        display: flex;
        flex-direction: column;
        width: 90vw !important;
        word-wrap: break-word;
    }

    .sobre-home__gif {
        width: 100vw !important;
    }
}


</style>

<section #sectionRef class="sobre-home w-100 d-flex align-items-center gap-5" style="height: 100vh; background: var(--fundo-preto); padding: 100px 0px 0 300px;">
    <h2 class="temporario">PÁGINA E SITE EM CONSTRUÇÃO</h2>
    <div class="sobre-home__textos d-flex flex-column gap-5 w-50 h-100">
        <h2 class="fs-1 pb-5" style="color: var(--cor-fonte-branca); position: relative; top: 3em;">
            LEONARDO DUCA
        </h2>
        <div #textoSobreHome class="textos_sobre_home" >
            <p>{{ textoDigitado }}</p>
        </div>
        <a class="botao_contato" href="\certificados">
            <app-botao-padrao texto_botao="Conhecimentos" tipo_botao="botao_branco"></app-botao-padrao>
        </a>
    </div>
    
    <div class="sobre-home__gif w-50 h-100">
        <img src="../../../assets/imagens/Leo_IA.gif" alt="Imagem IA" 
            class="w-100 h-100 object-fit-cover">
    </div>

</section>
