.inicio-home__conteudo_container h1 {
    font-family: var(--fonte-titulo);
    color: var(--cor-fonte-preta);
}


.botao_veja_crescimento {
    width: 170px;
    height: 50px;
    background: var(--fundo-preto);
    color: var(--cor-fonte-branca);
}