<style>
    .inicio-home {
        height: 100vh;
    }

    @keyframes TransicaoDivDireita {
        from {
            transform: translateX(100%);
            opacity: 1;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @KeyFrames TransicaoDivEsquerda {
        from {
            transform: translateX(-100%);
            opacity: 1;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    
    .inicio-home__texto_container {
        animation-duration: 1.5s;
        animation-name: TransicaoDivEsquerda;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }

    .inicio-home__imagem_container {
        animation-duration: 1.5s;
        animation-name: TransicaoDivDireita;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    .lista_icons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 40px;
        list-style: none;
        width: 30%;
        margin: 4em 0 0 0;
        padding: 0;
    }

    .icons_lista__imagem {
        width: 70%;
    }

    .botoes__home {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    @media screen and (max-width: 768px) {
        .inicio-home {
            flex-direction: column;
            justify-content: center !important;
            align-items: center;
            margin-top: 5em ;
        }

        .inicio-home__imagem_container {
            width: 100vw !important;
            height: 51vh;

        }

        .inicio-home__texto_container {
            width: 100vw !important;
            height: 50vh;
            justify-content: center !important;
            
        }

        .inicio-home__texto_container h1 {
            font-size: 3em !important;
        }

        .inicio-home__texto__titulo_icones {
            gap: 0;
        }

        .lista_icons {
            width: 30%;
        }
    }

</style>

<section class="inicio-home d-flex justify-content-evenly position-relative " >
    <div class="inicio-home__texto_container d-flex flex-column justify-content-center gap-5 align-items-center w-50 position-relative">
        <div class="inicio-home__texto__titulo_icones d-flex justify-content-center align-items-center flex-column">
            <h1 class="fw-bold align-items-center text-center w-100 position-relative" style="top: 35%; font-size: 4em; font-family: var(--fonte-titulo); color: var(--cor-fonte-preta);">Leonardo Duca</h1>
            <ul class="lista_icons">
                <li class="icons__lista">
                    <img src="../../../assets/imagens/icons/icon_python_black.png" class="icons_lista__imagem" alt="Icone Python">
                </li>
                <li class="icons__lista">
                    <img src="../../../assets/imagens/icons/icon_angular_black.png" class="icons_lista__imagem" alt="Icone Python">
                </li>
                 <li class="icons__lista">
                    <img src="../../../assets/imagens/icons/icon_python_black.png" class="icons_lista__imagem" alt="Icone Python">
                </li>
                <li class="icons__lista">
                    <img src="../../../assets/imagens/icons/icon_angular_black.png" class="icons_lista__imagem" alt="Icone Python">
                </li>
            </ul>
        </div>
        <div class="botoes__home" style="top: 50%;">
            <button class="bg-blac border-0 rounded fs-7 fw-semibold " style="width: 170px; height: 50px; background: var(--fundo-preto); color: var(--cor-fonte-branca);">
                <p>Veja o crescimento</p>
            </button>
            <app-botao-padrao texto_botao="contacte-me"></app-botao-padrao>
        </div>
    </div>
    <div class="inicio-home__imagem_container w-50">
        <div class="w-100 h-100 position-relative" style="background: var(--fundo-preto);">
            <img class="h-100 w-100" src="../../../assets/imagens/fundo_inicial.svg" style="object-fit: cover; position: absolute;" alt="">
        </div>
    </div>
</section>
