<section class="inicio-home d-flex justify-content-center align-items-center">
    <div class="inicio-home__container d-flex justify-content-center align-items-center py-5 px-2">
        <div class="inicio-home__conteudo_container d-flex flex-column justify-content-center align-items-left w-50 gap-4">
            <div>
                <h1 class="fs-1 fw-bold align-items-left w-75">Eu sou o Duca, mas na internet eu sou o Datior!</h1>
            </div>
            <div class="inicio-home__conteudo_container__botao d-flex flex-center align-items-center gap-4">
                <button class="botao_veja_crescimento d-flex flex-center justify-content-center align-items-center bg-blac border-0 rounded fs-7 fw-semibold ">
                    <p>Veja o crescimento</p>
                    <img src="" alt="">
                </button>
                <app-botao-padrao texto_botao="contacte-me"></app-botao-padrao>
            </div>
        </div>
        <div class="inicio-home__imagem_container">
            <div>
                <img src="../../../assets/imagens/Imagem_inicio_home.png" alt="">
            </div>
            <div>
                <p>Datior</p>
            </div>
        </div>
    </div>
</section>
