<section class="projetos-home">
    <h2 class="projetos-home__titulo">Projetos</h2>
    <div class="projetos-home__projetos">
        <app-projeto-div 
            titulo_projeto="DATIOR HOME" 
            descricao_projeto="Esse é o projeto atual em que você está visualizando, porém consegue acompanho seu desenvolvimento no youtube e no github" 
            caminho_imagem="../../../../assets/imagens/imagemProjetoTeste.png"
        ></app-projeto-div>
        <app-projeto-div 
            titulo_projeto="OUTROSSSSSS" 
            descricao_projeto="Esse é o projeto atual em que você está visualizando, porém consegue acompanho seu desenvolvimento no youtube e no github" 
            caminho_imagem="../../../../assets/imagens/imagemProjetoTeste.png"
        ></app-projeto-div>
    </div>
</section>