<style>

    .projetos-home__titulo {
        opacity: 0.5;
        position: absolute;
        top: 0%;
        transition: opacity 0.6s ease-out, top 0.6s ease-out;
    }

    .projetos-home__titulo.visivel {
        top: 9%;
        opacity: 1;
    }

    @media screen and (max-width: 768px) {
        .projetos-home__projetos {
            flex-wrap: wrap;
            gap: 4em;
        }
    }
</style>

<section class="projetos-home d-flex flex-column justify-content-center align-items-center w-100 position-relative" style="background: var(--fundo-preto); height: 110vh; gap: 4em;">
    <h2 #projetos__titulo class="projetos-home__titulo" [class.visivel]="visivel" style="color: var(--cor-fonte-branca); font-size: 56px;">Projetos</h2>
    <div class="projetos-home__projetos d-flex justify-content-evenly align-items-center w-100" style="background: var(--fundo-preto);">
        <app-projeto-div 
            titulo_projeto="DATIOR HOME" 
            descricao_projeto="Esse é o projeto atual em que, porém consegue acompanho seu desenvolvimento no youtube e no github" 
            caminho_imagem="../../../../assets/imagens/imagemProjetoTeste.png"
        ></app-projeto-div>
        <app-projeto-div 
            titulo_projeto="OUTROSSSSSS" 
            descricao_projeto="Esse é o projeto atual em que você está visualizando, porém consegue acompanho seu desenvolvimento no youtube e no github" 
            caminho_imagem="../../../../assets/imagens/imagemProjetoTeste.png"
        ></app-projeto-div>

    </div>
</section>