.projetos-home {
    background: var(--fundo-cinza);
    height: 65vh;
    gap: 4em;
}

.projetos-home__titulo {
    color: var(--cor-fonte-branca);
}

.projetos-home__projetos {
    background: var(--fundo-cinza);
}