<section class="projetos-home d-flex flex-column justify-content-center align-items-center w-100 position-relative" style="background: var(--fundo-preto); height: 100vh; gap: 4em;">
    <h2 class="projetos-home__titulo fs-1 position-absolute" style="color: var(--cor-fonte-branca); top: 2em;">Projetos</h2>
    <div class="projetos-home__projetos d-flex justify-content-evenly align-items-center w-100" style="background: var(--fundo-preto);">
        <app-projeto-div 
            titulo_projeto="DATIOR HOME" 
            descricao_projeto="Esse é o projeto atual em que, porém consegue acompanho seu desenvolvimento no youtube e no github" 
            caminho_imagem="../../../../assets/imagens/imagemProjetoTeste.png"
        ></app-projeto-div>
        <app-projeto-div 
            titulo_projeto="OUTROSSSSSS" 
            descricao_projeto="Esse é o projeto atual em que você está visualizando, porém consegue acompanho seu desenvolvimento no youtube e no github" 
            caminho_imagem="../../../../assets/imagens/imagemProjetoTeste.png"
        ></app-projeto-div>

    </div>
</section>