<style>
    .section_certificados-todos {
        background: var(--fundo-preto);
        padding: 4em 2em;
    }

    .certificados_lista-todos {
        display: grid;
        grid-template-columns: repeat(auto-fit, 250px);
        justify-content: center;
        gap: 2em 6em;
        list-style: none;
    }

    @media screen and (max-width: 768px) {
        .section_certificados-todos {
            padding: 4em 0;
        }
        .certificados_lista-todos {
            padding: 0;
            gap: 4em;
        }
    }

</style>

<section class="section_certificados-todos">
    <ul class="certificados_lista-todos">
        <app-certificado
            *ngFor="let certificado of dadosCsv; let index = index"    
            [link]="certificado['LINK PARA CERTIFICAR'].includes('http') ? certificado['LINK PARA CERTIFICAR'] : 'https://www.cursoemvideo.com/validacao-de-certificado/'"
            caminho_imagem="../../../assets/imagens/img_certificados/img_certificado.svg"
            alt_imagem="Imagem certificado"
            [titulo]="certificado['NOME CURSO']"
        ></app-certificado>
    </ul>
</section>