<style>
    .section_apresentacao-video {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120vh;
        background: var(--fundo-preto);
        padding: 10vh 0;
    }

    .section_apresentacao-video iframe {
        width: 65vw;
        height: 75vh;
        border: 2px solid var(--fundo-branco);
        border-radius: 2em;
    }

    @media screen and (max-width: 768px) {

        .section_apresentacao-video iframe {
            height: 35vh;
        }
    }
    
</style>


<section class="section_apresentacao-video">
    <iframe 
        src="https://www.youtube.com/embed/WvUf8PfISxw?si=dywSUZ1cOnAvB-tL" 
        title="YouTube Duca video sobre" 
        frameborder="4" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen
    ></iframe>
</section>