<style> 
    .section_texto-sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        background: var(--fundo-preto);
        padding: 25vh 0 0;
    }

    .section_texto-sobre h1 {
        margin: 0 0 3em;
        font-size: xx-large;
        font-weight: 700;
        color: var(--cor-fonte-branca);
    }

    .container__texto-sobre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        width: 75%;
        padding: 4em 5em;
        gap: 2em;
        border-radius: 26px;
        background: var(--fundo-branco);
        box-shadow: 0 0 20px var(--fundo-branco);
    }

    .container__texto-sobre p {
        font-size: x-large;
        color: var(--cor-fonte-preta);
    }

    @media screen and (max-width: 768px) {
        .section_texto-sobre {
            padding: 10vh 0 0;
        }

        .container__texto-sobre {
            width: 90%;
            padding: 3em 3em;
        }
    }

</style>

<section class="section_texto-sobre">
    <h1 >QUEM SOU EU?</h1>
    <div class="container__texto-sobre">
        <p >
Desde cedo, a tecnologia sempre fez parte da minha vida. Cresci explorando a internet, jogando online e utilizando ferramentas de comunicação que, sem perceber, moldaram minha facilidade de adaptação ao mundo digital. Sempre enxerguei a tecnologia com um certo romantismo — como algo mágico capaz de transformar realidades. E foi justamente essa visão que despertou em mim o desejo de criar, inovar e facilitar a vida das pessoas.        </p>
        <p>
           essa visão que despertou em mim o desejo de criar, inovar e facilitar a vida das pessoas.
Na adolescência, descobri que por trás de tudo aquilo que eu admirava — sistemas, jogos, plataformas — existia a programação. Foi aí que tudo começou. Escolhi estudar Java por saber que seria a base do curso de Analise e Desenvolvimento de Sistemas na Newton Paiva, onde iniciei minha jornada acadêmica aos 18 anos. Durante a graduação, mergulhei em diversas áreas: desenvolvimento front-end, design de interfaces, metodologias ágeis e linguagens como C++ — com a qual desenvolvi, por exemplo, um sistema para uma ponte levadiça automatizada.
        </p>
        <p>
            Tive a oportunidade de aplicar meus conhecimentos em projetos reais desde cedo. Participei do desenvolvimento de um ERP para restaurantes em uma startup, onde integrei APIs como Google Maps e iFood. Essa experiência me deu uma visão prática sobre como a tecnologia pode ser aplicada para resolver problemas do dia a dia de forma eficiente e escalável.
        </p>
        <p>
            Mais tarde, entrei na Algar, atuando dentro da Localiza. Comecei como analista de suporte e, em pouco tempo, fui promovido a Analista de Infraestrutura, ainda dentro da Localiza, porém pela DXC. Embora essa função tenha me afastado temporariamente do desenvolvimento, ela ampliou minha visão sobre a estrutura e os bastidores que sustentam grandes operações de TI. Paralelamente, continuei contribuindo com projetos externos, nem todos relacionados a Desenvolvimento, mas com relação em TI. Sempre com o objetivo de entregar soluções funcionais e bem pensadas.
        </p>
        <p>
Agora, estou retomando com força total minha trajetória no desenvolvimento. Estou construindo meu portfólio — meu espaço para mostrar meus “troféus”, aprendizados e evolução. Acredito que a tecnologia deve ser simples, funcional e centrada nas pessoas. E é exatamente isso que busco entregar em cada projeto: inovação com propósito.        </p>

    </div>
</section>
