
<button *ngIf="submit_botao" type="submit" [disabled]="disabled_botao" class="border-black rounded" style="background: var(--fundo-branco); width: 220px; height: 50px;">
    <p class="fs-5 fw-bold" style="font-family: var(--font-family); color: var(--cor-fonte-preta);">{{texto_botao}}</p>
</button>


<ng-template #elseBloc>
    <a href="#" class="botao-padrao">
        <button class="bg-transparent border-black rounded " style="width: 170px; height: 50px;">
            <p class="fs-6 fw-bold" style="font-family: var(--font-family);">{{texto_botao}}</p>
        </button>
    </a>
</ng-template>
