.botao-padrao {
    
}

.botao-padrao button {
    background: none;
    border: 2px solid var(--fundo-preto);
    border-radius: 6px;
    width: 170px;
    height: 40px;
}

.botao-padrao p {
    font-size: 16px;
    font-family: var(--fonte-family);
    font-weight: bold;
}