<!-- Botão de submit -->
<button
    *ngIf="submit_botao"
    type="submit"
    [disabled]="disabled_botao"
    class="botao_submit"
>
    <p class="fs-5 fw-bold">{{ texto_botao }}</p>
</button>

<!-- Botão branco alternativo -->
<button
    *ngIf="tipo_botao === 'botao_branco' && !submit_botao"
    class="botao_branco"
>
    <p>{{ texto_botao }}</p>
</button>

<button
    *ngIf="tipo_botao === 'botao_preto' && !submit_botao"
    class="botao_preto"
>
    <p>{{ texto_botao }}</p>
</button>

<!-- CERTIFICADO -->
<button
    *ngIf="tipo_botao === 'botao_categoria'"
    [ngClass]="categoria_certificado"
>
    @switch (categoria_certificado) {
        @case ("FRONT-END") {
            Front-end
        }
        @case ("BACK-END") {
            Back-end
        }
        @case ("PROGRAMAÇÃO / ALGORITMO") {
            Back-end
        }
        @case ("UI/UX") {
            Design
        }
        @case ("BANCO DE DADOS") {
            Back-end
        }
        @case ("ANALISE DE DADOS") {
            Análise de Dados
        }
        @case ("REDES/CLOUD") {
            Infraestrutura
        }
        @case ("IA") {
            Análise de Dados
        }
        @case ("METODOLOGIAS AGEIS") {
            Gerenciamento de Projetos
        }
        @default {
            {{ categoria_certificado }}
        }
    }
</button>

<!-- DIALOG -->
<button
    *ngIf="tipo_botao === 'botao_dialog'"
    id="cancel"
    type="reset"
    class="botao_dialog"
>
    <p>{{ texto_botao }}</p>
</button>
