<style>
    .section_certificados-todos {
        background: var(--fundo-cinza);
        padding: 4em 2em;
    }

    .certificados_lista-todos {
        display: grid;
        grid-template-columns: repeat(auto-fit, 250px);
        justify-content: center;
        gap: 2em 6em;
        list-style: none;
    }

</style>

<section class="section_certificados-todos">
    <ul class="certificados_lista-todos">
        <app-certificado
            link="#"
            caminho_imagem="../../../assets/imagens/img_certificados/img_certificado.svg"
            alt_imagem="Imagem certificado"
            titulo="TESTE DE CERTIFICADO"
        ></app-certificado>
        <app-certificado></app-certificado>
        <app-certificado
            link="#"
            caminho_imagem="../../../assets/imagens/img_certificados/img_certificado.svg"
            alt_imagem="Imagem certificado"
            titulo="TESTE DE CERTIFICADO"
        ></app-certificado>
        <app-certificado></app-certificado>
        <app-certificado
            link="#"
            caminho_imagem="../../../assets/imagens/img_certificados/img_certificado.svg"
            alt_imagem="Imagem certificado"
            titulo="TESTE DE CERTIFICADO"
        ></app-certificado>
        <app-certificado></app-certificado>
        <app-certificado
            link="#"
            caminho_imagem="../../../assets/imagens/img_certificados/img_certificado.svg"
            alt_imagem="Imagem certificado"
            titulo="TESTE DE CERTIFICADO"
        ></app-certificado>
        <app-certificado></app-certificado>
        <app-certificado
            link="#"
            caminho_imagem="../../../assets/imagens/img_certificados/img_certificado.svg"
            alt_imagem="Imagem certificado"
            titulo="TESTE DE CERTIFICADO"
        ></app-certificado>
        <app-certificado></app-certificado>
        <app-certificado
            link="#"
            caminho_imagem="../../../assets/imagens/img_certificados/img_certificado.svg"
            alt_imagem="Imagem certificado"
            titulo="TESTE DE CERTIFICADO"
        ></app-certificado>
        <app-certificado></app-certificado>
    </ul>
</section>