<style>
  input, textarea, input:focus, textarea:focus{
    background: var(--fundo-campo-form);
    padding: 1em;
    border: none;
    border-radius: 16px;
    border-style: none;
    box-shadow: -2px 4px 10px rgba(255, 255, 255, 0.3);
    font-size: 20px;
    font-weight: 700;
    color: var(--cor-fonte-preta);
  }

  input:hover, textarea:hover { 
    background: var(--fundo-campo-form-hover);
    box-shadow: -2px 4px 5px rgba(0, 0, 0, 0.1);
  }
</style>

<section class="w-100 d-flex justify-content-center align-items-center flex-column pt-5" style="height: 100vh; background: var(--fundo-preto);">
  <div class="container position-relative w-50 justify-content-center align-items-center d-flex flex-column mt-5" style="height: 100%;">
    <h2 class="text-uppercase fw-bold position-absolute" style="top: 10%; color: var(--cor-fonte-preta); font-size: 52px; color: var(--cor-fonte-branca);" >Fale comigo</h2>
    <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()" class="w-100 d-flex flex-column"> <!-- DEFINE É O FORMGROUP E QUE QUANDO O BOTÃO DE SUBMIT DESSE FORM FOR CLICADO VAI PARA FUNÇÃO ENVIAR FORMULÁRIO -->
      
      <div class="d-flex justify-content-center align-items-center gap-5 mb-3">
        <div class="my-4 w-50 position-relative">
          <small class="position-absolute" style="color: rgb(184, 0, 0); top: -2em;" *ngIf="formulario.get('primeiroNome')?.invalid && formulario.get('primeiroNome')?.touched"> <!-- SÓ EXIBE O SMAL SE A VALIDÃO DO CAMPO 'primeiroNome' DO FORMULÁRIO ESTIVER VALIDO E SE O USUÁRIO CLICOU E SAIU DO CAMPO-->
            primeiro Nome é obrigatório e deve ter pelo menos 3 caracteres.
          </small>
          <input id="primeiroNomeCampo" type="text" class="form-control" formControlName="primeiroNome" placeholder="Primeiro Nome">
        </div>
  
        <div class="my-4 w-50 ">
          <input id="numero" type="string" class="form-control" formControlName="numero" placeholder="Número">
        </div>
      </div>
  
      <div class="mb-5">
        <input id="email" type="email" class="form-control" formControlName="email" placeholder="E-mail">
        <small *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched">
          Insira um e-mail válido.
        </small>
      </div>
  
      <div class="mb-3">
        <textarea id="mensagem" class="form-control" rows="4" formControlName="mensagem" placeholder="Mensagem"></textarea>
        <small *ngIf="formulario.get('mensagem')?.invalid && formulario.get('mensagem')?.touched">
          A mensagem deve ter pelo menos 10 caracteres.
        </small>
      </div>
      
      <app-botao-padrao texto_botao="Enviar" class="mx-auto mt-5" [submit_botao]=true [disabled_botao]="formulario.invalid"></app-botao-padrao> 
    </form>
  </div>

</section>