<style>
    .inicio-home {
        display: flex;
        position: relative;
        height: 100vh;
    }

    .inicio-home h1 {
        margin: 2em 0;
        color: red;
        width: 100%;
        position: absolute;
        text-align: center;
        z-index: 2;
        font-size: 4em;
        font-weight: bold;
    }

    @keyframes TransicaoDivDireita {
        from {
            transform: translateX(100%);
            opacity: 1;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @KeyFrames TransicaoDivEsquerda {
        from {
            transform: translateX(-100%);
            opacity: 1;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .inicio-home__texto_container {
        display: flex;
        flex-direction: column;
        width: 50%;
        position: relative;
        animation-duration: 1.5s;
        animation-name: TransicaoDivEsquerda;
        animation-timing-function: ease;
        animation-fill-mode: forwards;

        justify-content: center;
        gap: 2em;
    }

    .inicio-home__titulo_icones {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .inicio-home__titulo_icones h1 {
        font-weight: bold;
        align-items: center;
        text-align: center;
        width: 100%;
        position: relative;
        top: 35%;
        font-size: 4em;
        font-family: var(--fonte-titulo);
        color: var(--cor-fonte-preta);
    }   

    .lista_icones {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 40px;
        list-style: none;
        width: 30%;
        margin: 4em 0 0 0;
        padding: 0;
    }

    .icones_lista__imagem {
        width: 70%;
    }

    .inicio-home__imagem_container {
        animation-duration: 1.5s;
        animation-name: TransicaoDivDireita;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    .botoes__home {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    @media screen and (max-width: 768px) {
        .inicio-home {
            flex-direction: column;
            justify-content: center !important;
            align-items: center;
            margin-top: 5em ;
        }

        .inicio-home__imagem_container {
            width: 100vw !important;
            height: 51vh;

        }

        .inicio-home__texto_container {
            width: 100vw !important;
            height: 50vh;
            justify-content: center !important;
            gap: 4em;
            
        }

        .inicio-home__texto_container h1 {
            font-size: 3em !important;
        }

        .lista_icones {
            width: 30%;
        }
    }

</style>

<section class="inicio-home" >
    <h1>Pagina e site em contrução!</h1>
    <div class="inicio-home__texto_container">
        <div class="inicio-home__titulo_icones">
            <h1>Leonardo Duca</h1>
            <ul class="lista_icones">
                <li class="icons__lista">
                    <img src="../../../assets/imagens/icons/icon_python_black.png" class="icones_lista__imagem" alt="Icone Python">
                </li>
                <li class="icons__lista">
                    <img src="../../../assets/imagens/icons/icon_angular_black.png" class="icones_lista__imagem" alt="Icone Python">
                </li>
                 <li class="icons__lista">
                    <img src="../../../assets/imagens/icons/icon_python_black.png" class="icones_lista__imagem" alt="Icone Python">
                </li>
                <li class="icons__lista">
                    <img src="../../../assets/imagens/icons/icon_angular_black.png" class="icones_lista__imagem" alt="Icone Python">
                </li>
            </ul>
        </div>
        <div class="botoes__home" style="top: 50%;">
            <button class="bg-blac border-0 rounded fs-7 fw-semibold " style="width: 170px; height: 50px; background: var(--fundo-preto); color: var(--cor-fonte-branca);">
                <p>Veja o crescimento</p>
            </button>
            <app-botao-padrao texto_botao="contacte-me"></app-botao-padrao>
        </div>
    </div>
    <div class="inicio-home__imagem_container w-50">
        <div class="w-100 h-100 position-relative" style="background: var(--fundo-preto);">
            <img class="h-100 w-100" src="../../../assets/imagens/fundo_inicial.svg" style="object-fit: cover; position: absolute;" alt="">
        </div>
    </div>
</section>
