<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="w-75 mx-auto">
    <div class="carousel-inner">
      <div *ngFor="let grupo of frasesGrupos; let i = index" class="carousel-item" [class.active]="i === 0">
        
        <div class="d-flex  text-center">
          <div class="col-6 d-flex flex-column align-items-center gap-4" *ngFor="let frase of grupo">
            <p class="w-75">{{ frase.frase }}</p>
            <strong class="w-75">{{ frase.autor }}</strong>
          </div>
        </div>
      
      </div>
    </div>
  
    <button class="carousel-control-prev " style="opacity: 1;" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-black" style="filter: invert(100%)" aria-hidden="true"></span>
    </button>
  
    <button class="carousel-control-next" style="opacity: 1;" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-black" style="filter: invert(100%); opacity: 1" aria-hidden="true"></span>
    </button>

  </div>
</div>
  