<style>
  .section-formulario_contato {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: var(--fundo-preto);
  }

  .container__formulario_contato {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.2);
    padding: 0 3em;
    gap: 1em;
    padding: 2em 1em;
    width: 50%;
  }
  
  .container__formulario_contato h2 {
    color: var(--cor-fonte-branca);
    font-family: var(--fonte-titulo-comum);
    font-weight: semi-bold;
    position: relative;
    width: 100%;
    text-align: left;
    font-size: 42px;
  }

  .formulario_contato {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2em;
  }

  .nome-numero__formulario_contato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 40px;
  }

  .nome-numero__formulario_contato div {
    width: 100%;
    position: relative;

  }

  .campos {
    background: var(--fundo-campo-form);
    width: 100%;
    padding: 0 1em;
    border: none;
    border-radius: 16px;
    border-style: none;
    font-size: 20px;
    font-weight: 700;
    color: var(--cor-fonte-preta);
    height: 2em;
  }

  .campos::placeholder {
    color: var(--cor-fonte-cinza);
    font-family: var(--fonte-titulo-comum);
    font-weight: 600;
  }
  
  .campo_textarea {
    height: 100%;
    padding-top: 1em;
    resize: none;
  }

  .botao {
    text-align: center;
  }

  
  .formulario_contato small {
    font-family: var(--fonte-comum);
    position: absolute;
    color: red;
    text-wrap: nowrap;
    width: 100px;
  }

  
  input:hover, textarea:hover { 
    background: var(--fundo-campo-form-hover);
  }

  input:focus {
    border: 2px solid var(--fundo-branco);
    outline: none;
  }

  @media screen and (max-width: 768px) {
    .container__formulario_contato h2 {
      font-size: 38px !important;
    }

    .formulario_contato {
      width: 80% !important;  
    }
    

    .nome-numero__formulario_contato {
      flex-direction: column;
      gap: 0 !important;
      margin-bottom: 1em;

    }

    .nome-numero__formulario_contato > div{
      width: 100% !important;
      height: 100%;
      margin-bottom: 1.5em;
    }
  }
</style>

<section class="section-formulario_contato">
  <div class="container__formulario_contato">
    <h2>Entre em contato:</h2>
    <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()" class="formulario_contato"> 

      <div class="nome-numero__formulario_contato">
        <div>
          <small style="color: rgb(184, 0, 0); top: -2em;" *ngIf="formulario.get('primeiroNome')?.invalid && formulario.get('primeiroNome')?.touched"></small>
          <input id="primeiroNomeCampo" type="text" class="campos" formControlName="primeiroNome" placeholder="Primeiro Nome">
        </div>
  
        <div>
          <input id="numero" type="string" class="campos" formControlName="numero" placeholder="Número">
        </div>
      </div>
  
      <div>
        <input id="email" type="email" class="campos" formControlName="email" placeholder="E-mail">
        <small *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched">
          Insira um e-mail válido.
        </small>
      </div>
  
      <div>
        <textarea id="mensagem" class="campos campo_textarea" formControlName="mensagem" placeholder="Mensagem"></textarea>
      </div>
      
      <div class="botao">
        <app-botao-padrao texto_botao="Enviar" [submit_botao]=true [disabled_botao]="formulario.invalid"></app-botao-padrao> 
      </div>
    </form>
  </div>

</section>