<style>
    .frases_titulos {
        opacity: 0;
        transition: opacity 1s ease-out, top 0.6s ease-out;
    }

    /* Só anima quando a classe 'visivel' é aplicada */
    .frases_titulos.visivel {
        opacity: 1;
    }


</style>

<section class="frases-home d-flex flex-column justify-content-around align-items-center pb-5 position-relative" style="height: 75vh; background: var(--fundo-preto);">
    <div #frases_titulos class="frases_titulos d-flex flex-column justify-content-center align-items-center" [class.visivel]="visivel">
        <h2 class="fw-bold" style="font-size: 2.5em; color:var(--cor-fonte-branca);">Frases são apenas mensagens</h2>
        <p class="mb-5 fs-7" style="opacity: 0.8; color:var(--cor-fonte-branca);">Está aqui algumas mensagens importantes para quem é de TI</p>
    </div>
    <app-frases-carrosel class="mt-5 w-75 position-relative" style="top: -15%;"></app-frases-carrosel>
</section>