<style>
    .sobre-home {
        display: flex;
        height: 100vh;
        background-color: var(--fundo-preto);
        justify-content: center;
        align-items: center;
    }

    .container-home {
        display: grid;
        grid-template-columns: 20vw 45vw;
        grid-template-rows: 45vh;
        column-gap: 2.5vw;
        width: 80vw;
        height: 45vh;
        border: 2px solid var(--fundo-branco);
        box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.2);
        border-radius: 10px;
    }

    .container-home__imagem {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-home__imagem img {
        object-fit: cover;
        width: 19vw;
        height: 44vh;
    }

    .contianer-home__textos {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        color: white;
    }

    .textos_sobre_home p {
        font-family: var(--fonte-comum);
        white-space: normal; /* <- Isso permite quebra automática de linha */
        word-wrap: break-word;
    }


    .sobre-home__gif {
        width: 50%;
        height: 100%;
        background: none !important;
    }

    .sobre-home__gif img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


@media screen and (max-width: 1400px) {   
    .container-home {
        grid-template-columns: 100%;
        grid-template-rows: 45% 55%;
        width: 60vw;
        height: 70vh;
    }

    .container-home__imagem img {
        width: 50%;
        height: 100%;
    }
    
    .contianer-home__textos {
        padding: 0 2em 2em 2em;
        gap: 20px;
        justify-content: space-between;
    }

    .textos_sobre_home p { 
        font-size: 14px;
    }
}

@media screen and (max-width:1030px) {
    .container-home {
        width: 70vw;
        height: 80vh;
    }
}

@media screen and (max-width: 768px) {
    .container-home {
        margin-top: 1em;
        height: 85%;
    }

    .container-home__imagem img {
        width: 100%;
    }
    .contianer-home__textos {
        gap: 8px;
    }

    .textos_sobre_home p { 
        font-size: 12px;
    }
}


</style>

<section #sectionRef class="sobre-home ">
    <div class="container-home">
        <div class="container-home__imagem">
            <img src="../../../../assets/imagens/foto_duca/Leo-IA.gif" alt="">
        </div>
        <div class="contianer-home__textos">
            <h2>
                LEONARDO DUCA
            </h2>
            <div #textoSobreHome class="textos_sobre_home" >
                <p>{{ textoDigitado }}</p>
            </div>
            <a class="botao_contato" href="\certificados">
                <!-- <app-botao-padrao texto_botao="Conhecimentos" ></app-botao-padrao> -->
                <app-botao-padrao texto_botao="Conhecimentos" tipo_botao="botao_branco"></app-botao-padrao>
            </a>
        </div>
    </div>
    

</section>
