<style>
    .sobre-home {
        display: flex;
        height: 100vh;
        background-color: var(--fundo-preto);
        color: white;
        align-items: center;
        justify-content: center;
        padding: 100px 0 0 300px;
        gap: 3em;
    }

    .sobre-home__textos {
        display: flex;
        flex-direction: column;
        gap: 4em;
        width: 50%;
        height: 100vh;
    }

    .sobre-home__textos h2 {
        font-size: var(--fonte-titulo-componentes);
        color: var(--cor-fonte-branca);
        position: relative;
        top: 3em;
        font-size: 2.5em;
        padding-bottom: 1em;
    }

    .textos_sobre_home p {
        font-family: var(--fonte-comum);
        white-space: normal; /* <- Isso permite quebra automática de linha */
        word-wrap: break-word;
        font-size: 1.1rem;
        line-height: 1.5;
        position: relative;
        top: 4em;
        height: 45vh;
    }

    .botao_contato {
        position: relative;
        width: 100%;
        text-align: center;
    }

    .botao_contato button {
        width: 80% !important;
    }

    .sobre-home__gif {
        width: 50%;
        height: 100%;
        background: none !important;
    }

    .sobre-home__gif img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


@media screen and (max-width: 1400px) {
    .sobre-home {
        padding-left: 2% !important;
    }
}

@media screen and (max-width:1030px) {
    .sobre-home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 !important;
    }

    .botao_contato {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    

    .sobre-home__textos {
        width: 100vw !important;
        text-align: center;
        align-items: center !important;
    }
    .sobre-home__textos h2 {
        padding: 0 !important;
    }

    .textos_sobre_home {
        display: flex;
        flex-direction: column;
        width: 90vw !important;
        word-wrap: break-word;
    }

    .sobre-home__gif {
        width: 70vw !important;
    }
}


</style>

<section #sectionRef class="sobre-home ">
    <div class="sobre-home__textos">
        <h2>
            LEONARDO DUCA
        </h2>
        <div #textoSobreHome class="textos_sobre_home" >
            <p>{{ textoDigitado }}</p>
        </div>
        <a class="botao_contato" href="\certificados">
            <app-botao-padrao texto_botao="Conhecimentos" tipo_botao="botao_branco"></app-botao-padrao>
        </a>
    </div>
    
    <div class="sobre-home__gif w-50 h-100">
        <img src="../../../assets/imagens/Leo-IA.gif" alt="Imagem IA" >
    </div>

</section>
