<style>
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        height: 7%;
        width: 100%;
        z-index: 11;
        background: var(--fundo-preto);

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2em 0;
            gap: 4em;

            li {
                transition: transform 0.4s ease;

                a {
                    text-decoration: none;
                    font-size: 1.5em;
                    font-weight: 600;
                    font-family: var(--fonte-comum);
                    color: var(--fundo-branco);
                }
            }

            li:hover {
                background-position: 0 0;
                transform: scale(1.1);
            }
        }
    }

    @media (max-width: 768px) {
        nav {
            width: 100vw !important;
        }

        .navbar-toggler {
            margin-right: 1.5em;
        }

        div {
            padding: 0 !important;
            margin: 0 !important;
            width: 100vw !important;
        }

        ul {
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding-bottom: 1em;
        }

        a {
            font-size: 1.2em;
        }
    }
</style>

<nav
    class="navbar navbar-expand-lg shadow-sm"
    [class.some_conteudo]="estaAparecendo"
    [class.aparece_conteudo]="!estaAparecendo"
>
    <div>
        <ul class="navbar-nav" style="background: var(--fundo-preto)">
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/sobre">Sobre</a>
            </li>
            <li>
                <a href="/contato">Contatos</a>
            </li>
            <li>
                <a href="/certificados">Certificados</a>
            </li>
        </ul>
        <button
            class="btn btn-outline-success"
            style="position: absolute; right: 60px !important; display: none"
            type="submit"
        >
            Search
        </button>
    </div>
</nav>
