<style>
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        height: 7%;
        width: 100%;
        z-index: 11;
        background: var(--fundo-preto);

        .burger {
            display: none;
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 4em;

            li {
                transition: transform 0.4s ease;

                a {
                    text-decoration: none;
                    font-size: 1.5em;
                    font-weight: 600;
                    font-family: var(--fonte-comum);
                    color: var(--fundo-branco);
                }
            }

            li:hover {
                background-position: 0 0;
                transform: scale(1.1);
            }
        }
    }

    @media screen and (max-width: 768px) {
        .navbar {
            ul {
                display: none;
                gap: 1.3em;
                padding: 2em 0;
            }

            .burger {
                display: block;
                background: white;
                width: 20%;
                border: none;
                border-radius: 20px;
            }

            .aberto {
                display: flex;
            }
        }
    }
</style>

<nav
    class="navbar navbar-expand-lg shadow-sm"
    [class.some_conteudo]="estaAparecendo"
    [class.aparece_conteudo]="!estaAparecendo"
>
    <button #burger_menu class="burger" (click)="toggleMenu($event)">☰</button>
    <ul
        #menu
        class="navbar-nav"
        style="background: var(--fundo-preto)"
        [class.aberto]="menuAberto"
    >
        <li>
            <a href="/home">Home</a>
        </li>
        <li>
            <a href="/sobre">Sobre</a>
        </li>
        <li>
            <a href="/contato">Contatos</a>
        </li>
        <li>
            <a href="/certificados">Certificados</a>
        </li>
    </ul>
</nav>
