.header {
    background: var(--fundo-preto);
}

.logo_div img {
    width: 50px;
}

.menu_opcoes a {
    color: var(--cor-fonte-branca);
    text-decoration: none;
    font-size: 18px;
}

.botao_menu {
    width: 30px;
    height: 30px;
}

