<style> 
  a {
    color: transparent;
    font-size: 24px;
    font-weight: 600;

    background-image: linear-gradient(to right, var(--cor-fonte-branca-hover) 50%, var(--cor-fonte-branca) -50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    background-clip: text;
    transition: background-position 0.4s ease-in-out;
  }

  a:hover {
    background-position: 0 0;
    font-weight: 700;
    font-size: 25px;
  }
</style>

<nav class="navbar navbar-expand-lg shadow-sm" [class.some_conteudo]="isHidden" [class.aparece_conteudo]="!isHidden" style="background: var(--fundo-preto); position: fixed; top: 0; width: 100%; height: 6%; z-index: 1050;">  <div class="container-fluid">
    <a class="navbar-brand"  href="#">Navbar</a>
    <button class="navbar-toggler"  style="background-color: var(--fundo-branco) !important;"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>
      <div class="collapse navbar-collapse justify-content-center align-items-center"  id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0  gap-4 justify-content-center align-items-center">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a  href="/Sobre">Sobre</a>
          </li>
          <li>
            <a  href="#">Contatos</a>
          </li>
          <li>
            <a  href="#">Certificados</a>
          </li>
          <li class="nav-item dropdown">
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
          </li>
        </ul>
        <button class="btn btn-outline-success" style="position: absolute; right: 60px !important;" type="submit">Search</button>
    </div>
    </div>
  </nav>

<!-- <header class="header" style="background: var(--fundo-preto);">
    <div class="container_header d-flex justify-content-between w-100 p-2">
        <div class="logo_div d-flex justify-content-left align-items-center ms-3">
            <img src="assets/imagens/logo_datior-sem_fundo.png" alt="Logo Datior" style="width: 50px;">
        </div>
        <div class="menu_opcoes d-flex justify-content-around align-items-center w-25">
            <a href="#" style="color: var(--cor-fonte-branca); text-decoration: none; font-size: 18px;">Home</a>
            <a href="/Sobre" style="color: var(--cor-fonte-branca); text-decoration: none; font-size: 18px;">Sobre</a>
            <a href="" style="color: var(--cor-fonte-branca); text-decoration: none; font-size: 18px;">Certificados</a>
            <a href="" style="color: var(--cor-fonte-branca); text-decoration: none; font-size: 18px;">Contato</a>
        </div>
        <div class="botao_menu_tema d-flex justify-content-center align-items-center me-3">
            <button class="botao_menu"  style="width: 30px; height: 30px;"></button>
        </div>
    </div>
</header> -->
