<header class="header" style="background: var(--fundo-preto);">
    <div class="container_header d-flex justify-content-between w-100 p-2">
        <div class="logo_div d-flex justify-content-left align-items-center ms-3">
            <img src="assets/imagens/logo_datior-sem_fundo.png" alt="Logo Datior" style="width: 50px;">
        </div>
        <div class="menu_opcoes d-flex justify-content-around align-items-center w-25">
            <a href="#" style="color: var(--cor-fonte-branca); text-decoration: none; font-size: 18px;">Home</a>
            <a href="/Sobre" style="color: var(--cor-fonte-branca); text-decoration: none; font-size: 18px;">Sobre</a>
            <a href="" style="color: var(--cor-fonte-branca); text-decoration: none; font-size: 18px;">Certificados</a>
            <a href="" style="color: var(--cor-fonte-branca); text-decoration: none; font-size: 18px;">Contato</a>
        </div>
        <div class="botao_menu_tema d-flex justify-content-center align-items-center me-3">
            <button class="botao_menu"  style="width: 30px; height: 30px;"></button>
        </div>
    </div>
</header>
