<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background: var(--fundo-preto) !important;">
    <div class="container-fluid" >
      <p class="navbar-brand" style="color: white !important;" href="#">Navbar</p>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"  id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0  gap-4 ">
          <li>
            <a style="color: var(--cor-fonte-branca) !important;  text-decoration: none;" href="#">Home</a>
          </li>
          <li>
            <a style="color: var(--cor-fonte-branca) !important; text-decoration: none;" href="/Sobre">Sobre</a>
          </li>
          <li>
            <a style="color: var(--cor-fonte-branca) !important; text-decoration: none;" href="#">Contatos</a>
          </li>
          <li>
            <a style="color: var(--cor-fonte-branca) !important; text-decoration: none;" href="#">Certificados</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
    </div>
  </nav>

<!-- <header class="header" style="background: var(--fundo-preto);">
    <div class="container_header d-flex justify-content-between w-100 p-2">
        <div class="logo_div d-flex justify-content-left align-items-center ms-3">
            <img src="assets/imagens/logo_datior-sem_fundo.png" alt="Logo Datior" style="width: 50px;">
        </div>
        <div class="menu_opcoes d-flex justify-content-around align-items-center w-25">
            <a href="#" style="color: var(--cor-fonte-branca); text-decoration: none; font-size: 18px;">Home</a>
            <a href="/Sobre" style="color: var(--cor-fonte-branca); text-decoration: none; font-size: 18px;">Sobre</a>
            <a href="" style="color: var(--cor-fonte-branca); text-decoration: none; font-size: 18px;">Certificados</a>
            <a href="" style="color: var(--cor-fonte-branca); text-decoration: none; font-size: 18px;">Contato</a>
        </div>
        <div class="botao_menu_tema d-flex justify-content-center align-items-center me-3">
            <button class="botao_menu"  style="width: 30px; height: 30px;"></button>
        </div>
    </div>
</header> -->
