<section class="frases-home d-flex flex-column justify-content-around align-items-center pb-5 position-relative" style="height: 75vh; background: var(--fundo-preto);">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="fw-bold" style="font-size: 2.5em; color: var(--cor-fonte-branca);">Frases são apenas mensagens</h2>
        <p class="mb-5 fs-7" style="color: var(--cor-fonte-branca); opacity: 0.8;">Está aqui algumas mensagens importantes para quem é de TI</p>
    </div>
    <app-frases-carrosel class="mt-5 w-75 position-relative" style="top: -15%;"></app-frases-carrosel>
</section>