<style>
    .section_projetos-home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--fundo-preto);
        min-height: 100vh;
        gap: 8em;
    }

    .projetos-home__titulo {
        position: relative;
        color: var(--cor-fonte-branca);
        font-size: 56px;
        font-family: var(--fonte-titulo-comum);
    }

    .projetos-home__projetos {
        display: flex;
        justify-content: space-evenly;
        align-self: center;
        width: 100%;
        background: var(--fundo-preto);
    }

    @media screen and (max-width: 768px) {
        .section_projetos-home {
            padding: 4em 0;
        }

        .projetos-home__projetos {
            flex-wrap: wrap;
            gap: 10em;
        }
    }
</style>

<section class="section_projetos-home">
    <div class="projetos-home__projetos">
        <app-projeto-div 
            titulo_projeto="Datior Home" 
            descricao_projeto="Esse é o projeto atual em que, porém consegue acompanho seu desenvolvimento no youtube e no github" 
            caminho_imagem="../../../../assets/imagens/projetos/projeto_portifolio.png"
        ></app-projeto-div>

    </div>
</section>