.section_projetos-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--fundo-preto);
    min-height: 60vh;
    gap: 8em;

    .projetos-home__projetos {
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        gap: 4em;
        width: 100%;
        background: var(--fundo-preto);
    }
}

@media screen and (max-width: 768px) {
    .section_projetos-home {
        padding: 4em 0;

        .projetos-home__projetos {
            flex-wrap: wrap;
            gap: 10em;
        }
    }
}
