/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    font-family: var(--fonte-family);
}

p {
    margin: 0 !important;
}

:root {
    --fundo-preto: #000;
    --fundo-branco: #fff;
    --fundo-cinza: #1D1D1D;
    
    --fonte-family: 'Roboto', sans-serif;
    --fonte-family-titulo: "Eczar", serif;
    --cor-fonte-preta: #000;
    --cor-fonte-branca: #fff;
    --cor-fonte-cinza: #594F43;
}