/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Viga&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
}

p {
    margin: 0 !important;

}
/* a {
   color: red !important;
} */
.some_conteudo {
    transition: transform 0.5s ease-in-out;
    transform: translateY(-100%);
  }

.aparece_conteudo {
    transition: transform 0.5s ease-in-out;
    transform: 0;
}
  

:root {
    /* BACKGROUND  */
    --fundo-preto: rgba(0, 0, 0, 1);
    --fundo-branco: rgba(255, 255, 255, 1);
    --fundo-cinza: rgba(29, 29, 29, 1);
    --fundo-campo-form: #ffffff;
    --fundo-branco-hover: #f1f1f1;
    --fundo-campo-form-hover: #cecece;
    


    /* FONTES */
    --fonte-comum: "Work Sans", sans-serif;    
    --fonte-titulo-comum: "Eczar", serif;
    --fonte-titulo-categorias: "Poppins", sans-serif;
    --fonte-titulo-componentes:  "Viga", sans-serif;;

    
    --cor-fonte-preta: #000;
    --cor-fonte-branca: #fff;
    --cor-fonte-branca-hover: #d8d8d8;
    --cor-fonte-cinza: #594F43;

}


