/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    font-family: var(--fonte-family);
}

p {
    margin: 0 !important;

}
/* a {
   color: red !important;
} */
.some_conteudo {
    transition: transform 0.5s ease-in-out;
    transform: translateY(-100%);
  }

.aparece_conteudo {
    transition: transform 0.5s ease-in-out;
    transform: 0;
}
  

:root {
    --fundo-preto: #000;
    --fundo-branco: #fff;
    --fundo-cinza: #1D1D1D;
    --fundo-campo-form: #c4c4c438;
    --fundo-campo-form-hover: #c4c4c427;
    
    --fonte-family: 'Roboto', sans-serif;
    --fonte-family-titulo: "Eczar", serif;
    --cor-fonte-preta: #000;
    --cor-fonte-branca: #fff;
    --cor-fonte-branca-hover: #d8d8d8;
    --cor-fonte-cinza: #594F43;
}