
<a>
    <div class="projeto-div">
        <div class="projeto-div__texto">
            <h3>Sheepify States</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa amet etiam quis semper sit lacus blandit. Diam nam mi tortor feugiat nunc. Amet enim nisi ac imperdiet nisl, feugiat faucibus amet mi. Volutpat sollicitudin euismod facilisis morbi ullamcorper velit, elementum.</p>
            <strong>Live View</strong>
        </div>
        <div class="projeto-div__imagem">
            <img src="../../../../assets/imagens/imagemProjetoTeste.png" alt="Sheepify States">
        </div>
    </div>
</a>
