.projeto-div__link {
    color: var(--cor-fonte-preta);
}

.projeto-div {
    display: flex;
    width: 600px;
    background: white;
    border-radius: 0 200px 200px 0 ;
}



.projeto-div__texto p {
    color: var(--cor-fonte-cinza);
}

.projeto-div__imagem {
    height: 300px;
}

.projeto-div__imagem img {
    height: 300px;
}