<style>
    .section-certificados-categoria {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 3500px;
        min-height: 100vh;
        margin: 0 auto;
        position: relative;
        padding: 8em 0 0 0;
        background: var(--fundo-preto);
    }

    .section-certificados-categoria div {
        width: 50%;
        color: var(--cor-fonte-branca);
    }

    .section-certificados-categoria h2 {
        font-family: var(--fonte-titulo-categorias);
        text-align: left;
        margin: 0 0 1em 1em;
    }

    .certificados_lista-categorias {
        display: grid;
        grid-template-columns: repeat(auto-fit, 250px);
        gap: 2em 4em;
        justify-content: center;
        padding: 0;
        list-style: none;
    }

    /* CATEGORIA UNICA */
    .section-categoria-certificado {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 3500px;
        min-height: 100vh;
        margin: 4em 0 0 0;
        position: relative;
        padding: 8em 0 0 0;
        background: var(--fundo-preto);
    }

    .section-categoria-certificado div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4em;
        width: 50%;
        color: var(--cor-fonte-branca);
    }

    .section-categoria-certificado li {
        width: 30% !important;
    }


    @media screen and (max-width: 768px) {
        .section-certificados-categoria {
            padding: 8em 0 4em 0;
        }
        .section-certificados-categoria div {
            width: 50%;
        }

        .section-certificados-categoria h2 {
            text-align: center;
            margin: 0 0 1em 0;
        }
    }

</style>

<section *ngIf="categorias.length > 1" class="section-certificados-categoria">
    <div>
        <h2>Conhecimento por categoria</h2>
        <ul class="certificados_lista-categorias">
            <app-certificado-categoria 
               *ngFor="let categoria of categorias"
                caminho_imagem="../../../assets/imagens/icons/Icone_design.svg"
                [alt_imagem]="'Icone Categoria de ' + categoria"
                [titulo]="categoria"
            ></app-certificado-categoria>
        </ul>
    </div>

</section>

<section *ngIf="categorias.length == 1" class="section-categoria-certificado">
    <div>
        <app-certificado-categoria 
            *ngFor="let categoria of categorias"
            caminho_imagem="../../../assets/imagens/icons/Icone_design.svg"
            [alt_imagem]="'Icone Categoria de ' + categoria"
            [titulo]="categoria"
            tipo="categoria-unica"
        ></app-certificado-categoria>
    </div>
</section>