<style>
    .section-certificados-categoria {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 3500px;
        min-height: 100vh;
        margin: 0 auto;
        position: relative;
        padding: 8em 0 0 0;
        background: var(--fundo-preto);
    }

    .section-certificados-categoria div {
        width: 50%;
        color: var(--cor-fonte-branca);
    }

    .section-certificados-categoria h2 {
        font-family: var(--fonte-titulo-categorias);
        text-align: left;
        margin: 0 0 1em 1em;
    }

    .certificados_lista-categorias {
        display: grid;
        grid-template-columns: repeat(auto-fit, 250px);
        gap: 2em 4em;
        justify-content: center;
        padding: 0;
        list-style: none;
    }

</style>

<section class="section-certificados-categoria">
    <div>
        <h2>Conhecimento por categoria</h2>
        <ul class="certificados_lista-categorias">
            <app-certificado-categoria 
                link="#"
                caminho_imagem="../../../assets/imagens/icons/Icone_design.svg"
                alt_imagem="Icone Categoria front-end"
                titulo="Front-end"
            ></app-certificado-categoria>
            <app-certificado-categoria 
                link="#"
                caminho_imagem="../../../assets/imagens/icons/Icone_design.svg"
                alt_imagem="Icone Categoria Gerenciamento projeto"
                titulo="Gerenciamento de projetos"
            ></app-certificado-categoria>
            <app-certificado-categoria 
                link="#"
                caminho_imagem="../../../assets/imagens/icons/Icone_design.svg"
                alt_imagem="Icone Categoria Back-end"
                titulo="Back-end"
            ></app-certificado-categoria>
            <app-certificado-categoria 
                link="#"
                caminho_imagem="../../../assets/imagens/icons/Icone_design.svg"
                alt_imagem="Icone Categoria Design"
                titulo="Design"
            ></app-certificado-categoria>
            <app-certificado-categoria 
                link="#"
                caminho_imagem="../../../assets/imagens/icons/Icone_design.svg"
                alt_imagem="Icone Categoria analise de dados"
                titulo="Analise de dados"
            ></app-certificado-categoria>
            <app-certificado-categoria 
                link="#"
                caminho_imagem="../../../assets/imagens/icons/Icone_design.svg"
                alt_imagem="Icone Categoria Infraestrutura"
                titulo="Infraestrutura"
            ></app-certificado-categoria>
            
        </ul>
    </div>
</section>